*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
@font-face {
    font-family: Shopify;
    src: url(ShopifySans--bold.woff2);
}
@font-face {
    font-family: ShopifyBold;
    src: url(ShopifySans--extrabold.woff2);
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #15141b;
    font-family: Shopify;
}
.box-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
}
.second-container{
    padding: 83px;
}
.box-video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.firt-text{
    color: yellow;
    font-size:  1.125rem;
}
.title{
    font-size: 5rem;
    color: white;
    font-family: ShopifyBold;
}
.second-text{
    font-size:  1rem;
    color: white;
    margin-bottom: 15px;
}
.style-btn{
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-weight: bold;
    background-color: #d0f224;
}
.img{
    border-radius: 5px;
    height: 50px;
}
.btn-float {
	position: fixed;
	bottom: 10px;
	right: 40px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.btn-float:hover {
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}

/* ///////////////////////////////////////////////// */ 
a:link, a:visited, a:active{
    text-decoration:none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    border: 1.5px solid lightskyblue;
  }
  
  ul li {
    margin: 20px 0 0 25px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    list-style: none;
    display: inline-block;
    color: white;
  }
  :focus{
    border: 1.5px solid lightskyblue;
    }
  
  header {
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    background-image: url(./logo.jpg);
    background-size: 8rem;
    background-repeat: no-repeat;
  }
  
  .leftSide{
    padding-left: 110px;
  }
  
  .rightSide{
    padding-right: 50px;
  }