* {
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: letra;
    src: url(f1.woff);
}
nav{
    font-family: letra;
    position: fixed;
    width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
  text-align: center;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
    border-bottom: 4px solid #096e4a;
}
:focus{
    border-bottom: 4px solid #096e4a;
}
/* .active{
    border-bottom: 4px solid #096e4a; 
} */
.space{
    margin-left: 35px;
}
.space-right{
    margin-right: 35px;
}
.space-icon{
    margin-right: 5px;
}
.image {
    height: 40px;
    padding: 2px;
}
.float-right{
    float: right;
}
.right{
    margin-left: 15px;
}
.btn-style{
    border: 1px solid black;
    border-radius: 50px;
    width: 75px;
    padding: 2px;
    margin-top: 11px;
}
.btn-style-join{
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 50px;
    width: 75px;
    padding: 2px;
margin-top: 11px;
}
.down-div{
    display: flex;
    align-items: center;
    background-color: #1b3a32;
    color: white;
    height: 35px;
}
.title-down-nav{
    margin-left: 35px;
}

/* /// */
/* Globales */
html {
    color: #000;
}
body {
      background: rgb(212 233 226);
      font-family: letra;
}
a {
    color: #000;
}
/* Main content */
.nav{
    border: 1px solid red;
    width: 100%;
    height: 15rem;
    margin: auto;
}
.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    background: url(./hero.webp) no-repeat;
    background-size: 150%;
    background-position: top;
    height: 43.5rem;
}
.content {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    margin: 15rem 0 0 10rem;
}
.free-coffee, .app, .join-now {
    font-size: 1.2rem;
}
.join-now-button {
    color: #ffff;
    background: rgb(1 118 73);
    padding: 0.6rem;
    border: none;
    border-radius: 16px;
    font-weight: bold;
    font-size: 1rem;
}
/* /////////////7 */
/* Hands */
.green {
    color: #58907C;
}
/* Main content */
.nav{
    border: 1px solid red;
    width: 100%;
    height: 15rem;
    margin: auto;
}
.main2 {
    text-align: center;
    background: #fff;
    height: 43.5rem;
    box-shadow: -1px -2px 6px 0px rgba(0,0,0,0.32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.content-header {
    line-height: 2.7rem;
}
.content-header h2 {
    font-size: 1.8rem;
}
/* STEPS  */
.steps {
    display: flex;
    justify-content: space-around;
    margin: 0 10rem;
    text-align: center;
}
.step1, .step2, .step3 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 3rem;
}
.logo {
    height: 44px;
    width: 44px;
}